$calendar-cell-height: 36px;
$calendar-cell-width: 36px;

$lark-purple: #803dba;

$selection-hover-background: #0066cc;
$today-background: $lark-purple;
$range-background: #99caff;

.calendar-container{
  display: inline-block;
  border:1px dashed lime;
}

.lark-calendar {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: none;
}

// Calendar Navigation (Previous Month, Next Month, Today)
.lark-calendar{
  position:relative;
}
.lark-calendar .calendar-navigation {
  position:absolute;
  top:9px;
  display:block;
  width:100%;
  list-style-type: none;
  font-weight: bold;
  padding: 0 0 6px;
  li {
    display: block;
    &:first-child{
      float:left;
    }
    &:last-child{
      float:right;
    }
    a.calendar-navigate {
      display: inline-block;
      height: 20px;
      padding: 2px 0 0;
      text-decoration: none;
      width: 20px;
      &.previous, &.next {
        background: #fff;
        color: rgba($lark-purple, 0.6);
        &:hover{
          color: $lark-purple;
        }
        &:active{}
      }
      &.previous {}
      &.next {}
      &.disabled{
        &, &:hover, &:active{
          background: #fff;
          color: #ccc;
          cursor: default;
        }
      }
      &.today{
        &:hover{}
        &:active{}
      }
    }
  }
}

// Individual Calendar Tables
.lark-calendar table {
  border-collapse: collapse;
  display: inline-block;
  font-size: 15px;
  margin: 10px 6px 0;
  caption {
    /* Month names */
    text-transform: uppercase;
    font-size: 16px;
  }
  thead th, tbody td {
    /* Cell sizes */
    height: $calendar-cell-height;
    line-height: $calendar-cell-height;
    width: $calendar-cell-width;
    text-align:center;
  }
  thead {
    /* Weekday letters */
    background: #fff;
    color: #555;
    border-bottom: 1px solid #555;
    th{
      font-weight:400;
    }
  }
  tbody {
    background: #fff;
    td {
      cursor: pointer;
      &.selected {
        // date(s) within range once selection is locked
        background-color: rgba($range-background,0.3);
        color: $selection-hover-background;
      }
      &.stuck {
        // date(s) within range when dragging around a stuck date
        background-color: $range-background;
      }
      &.selectable:hover {
        // hovering over unselected date (when there is no stuck date)
        background-color: $selection-hover-background;
        color: white;
      }
      &.selected:hover, &.stuck:hover {
        // hovering over date within selected range (including while selecting range)
        background-color: $range-background;
      }
      /* Today */
      &.today {
        background-color: rgba($lark-purple,0.3);
        // simulates a border WITHIN the element
        box-shadow: 0 0 0 1px $lark-purple inset;
        color: $lark-purple !important;
      }
      &.today_selected {
        background-color: $lark-purple;
      }
      &.today_stuck {
        background-color: $lark-purple;
      }
      /* Post/pre-month */
      &.beyond {
        background-color: #eeeeee;
        background-image: none;
        color: #ccc;
      }
      &.beyond_selected {
        background-color: #999;
      }
      &.beyond_stuck {
        background-color: #888;
      }
      &.unselectable {
        color: #ccc;
        cursor: default;
      }
    }
  }
}

// Clear Selection Button
.lark-calendar span.clear {
  /* Clear button */
  color: transparent;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  span {
    position: relative;
    cursor: pointer;
    display: block;
    background:red;
    color:white;
    border:1px solid white;
    border-radius:50%;
    width: 30px;
    height: 30px;
    line-height: 23px;
    left: -18px;
    top: -18px;
    text-align:center;
    font-weight:400;
    font-size:26px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    &.active {
      border:1px solid yellow;
    }
  }
}
